{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block head %}

<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>SalesQuery Demo</title>
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'SalesQuery/img/favicon.ico' %}" type="image/vnd.microsoft.icon" />
        
        <!-- Core Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'SalesQuery/bootstrap.css' %}">

        <link rel="stylesheet" href="{% static 'SalesQuery/main.css' %}">
{% endblock %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %}">SalesQuery</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample05">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Index<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'choose_budget'%}">Budgets<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">Admin<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
      </li>
    </ul>
  </div>
</nav>
{% endblock %} {% block body %} {% endblock %}