{% extends 'SalesQuery/base.html' %} {% load static %}

{% block body %}

<h1 class="mx-auto mt-5 text-center">SalesQuery for Trend Technologies</h1>
<div class="list-group mt-5 mx-auto" style="width: 20em;">
    <a href="{% url 'choose_sale' %}" style="text-decoration: none;"><button type="button" class="list-group-item list-group-item-action my-1">Sales</button></a>
    <a href="{% url 'choose_budget' %}" style="text-decoration: none;"><button type="button" class="list-group-item list-group-item-action my-1">Budgets</button></a>
</div>

{% endblock %}