{% extends 'SalesQuery/base.html' %} {% load static %} {% load humanize %}

{% block body %}
    <h3 class="mt-5 text-center">{{ customer }} Sales</h3>

    {% if sales %}
    <table class="table table-hover mt-5">
        <thead class="thead-light">
            <tr>
                <th scope="col">Location</th>
                <th scope="col">Capability</th>
                <th scope="col">Amount</th>
                <th scope="col">Month</th>
            </tr>
        </thead>
        <tbody>
    {% for sale in sales %}
            <tr>
                <td>{{ sale.location.name }}</td>
                <td>{{ sale.capability }}</td>
                <td>$ {{ sale.amount|intcomma }}</td>
                <td>{{ sale.date|date:"M Y" }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'SalesQuery/bootstrap.bundle.js' %}"></script>
{% endblock %}