{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block head %}

<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Ledger</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet"> 
        <link rel="icon" type="image/png" href="{% static 'Ledger/img/favicon.ico' %}" sizes="32x32" />
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'Ledger/main.css' %}">
        <link rel="stylesheet" href="{% static 'Ledger/bootstrap-sortable/Contents/bootstrap-sortable.css' %}">
{% endblock %}

{% block navbar %}

<nav class="navbar fixed-top border-bottom navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand font-weight-bold" href="{% url 'index' %}" style="font-family: 'Montserrat', sans-serif; letter-spacing: -0.5px;">
    <img src="{% static 'Ledger/img/navbarlogo.png' %}" width="32px" height="32px" class="mr-1"/>
    Ledger
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample05">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
      </li>
      <li class="nav-item dropdown">
      </li>
    </ul>
  </div>
</nav>
{% endblock %} {% block body %} {% endblock %}