{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}

<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block title %}<title>Ledger</title>{% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet"> 
        <link rel="icon" type="image/png" href="{% static 'Ledger/img/favicon.ico' %}" sizes="32x32" />
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'Ledger/css/bootstrap.min.css' %}">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'Ledger/css/main.css' %}">

        <!-- MDB -->
        <link rel="stylesheet" href="{% static 'Ledger/css/mdb.min.css' %}">

        {% block customstyle %}{% endblock %}

{% endblock %}
</head>
<body>
{% block navbar %}

<nav class="navbar fixed-top border-bottom navbar-expand-lg navbar-dark mdb-color">
  <a class="navbar-brand font-weight-bold" href="{% url 'index' %}" style="font-family: 'Montserrat', sans-serif; letter-spacing: -0.5px;">
    <img src="{% static 'Ledger/img/navbarlogo.png' %}" width="32px" height="32px" class="mr-1"/>
    Ledger
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'form_budget' 'elk-grove' %}">Form</a>
      </li>
    </ul>
    {% endif %}
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <li class="nav-item mr-2">
        {% if user.first_name %}
        <p class="navbar-text">Welcome, {{ user.first_name }}</p>
        {% else %}
        <p class="navbar-text">Welcome, {{ user.username }}</p>
        {% endif %}
      </li>
      <li class="nav-item">
        <a href="{% url 'logout' %}" class="nav-link ml-auto">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a href="{% url 'login' %}" class="nav-link ml-auto">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %} 

{% if messages %}
<div class="mt-5 mb-1">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} mx-5">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}  

{% block body %} {% endblock %}
</body>