{% extends 'Ledger/base.html' %} {% load static %} {% load humanize %}

    {% block title %}
    <title id="title">
        {% if global %}Global{% elif location %}{{ location }}{% elif region %}{{ region }}{% elif customer %}{{ customer }}{% endif %} {{ year }} Budget by {{ first_col|capfirst }}
    </title>
    {% endblock %}
    {% block customstyle %}
    <!-- MDB Datatables -->
    <link rel="stylesheet" href="{% static 'Ledger/css/addons/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'Ledger/css/addons/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'Ledger/css/addons/buttons.dataTables.min.css' %}">
    <style type="text/css">
        .inline {
            display: inline-block;
        }
    </style>
    {% endblock %}

    {% block body%}
    <div class="container-fluid">
        <h3 class="mt-5 text-center">{% if global %}Global{% elif location %}{{ location }}{% elif region %}{{ region }}{% elif customer %}{{ customer }}{% endif %} {{ year }} Budget</h3>
        <h5 class="text-center">by {{ first_col|capfirst }}</h5>
            {% if budget_data %}
            <div class="row"></div>
            <table id="table" class="table table-hover table-bordered table-sm my-5 mx-auto text-left" cellspacing=0 width="100%">
                <thead class="thead-light" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                    <tr>
                        <th scope="col">{{ first_col|capfirst }}</th>
                        {% if second_col %}
                        <th scope="col">{{ second_col|capfirst }}</th>
                        {% endif %}
                        <th scope="col" class="sortable">Jan</th>
                        <th scope="col">Feb</th>
                        <th scope="col">Mar</th>
                        <th scope="col">Q1</th>
                        <th scope="col">Apr</th>
                        <th scope="col">May</th>
                        <th scope="col">Jun</th>
                        <th scope="col">Q2</th>
                        <th scope="col">Jul</th>
                        <th scope="col">Aug</th>
                        <th scope="col">Sep</th>
                        <th scope="col">Q3</th>
                        <th scope="col">Oct</th>
                        <th scope="col">Nov</th>
                        <th scope="col">Dec</th>
                        <th scope="col">Q4</th>
                        <th scope="col">Total</th>    
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in budget_data.items %}
                    <tr>
                        <td title="{{ key }}">{{ key|truncatechars:15 }}</td>
                        <td>{{ value.jan }}</td>
                        <td>{{ value.feb }}</td>
                        <td>{{ value.mar }}</td>
                        <td class="font-weight-bold">{{ value.q1 }}</td>
                        <td>{{ value.apr }}</td>
                        <td>{{ value.may }}</td>
                        <td>{{ value.jun }}</td>
                        <td class="font-weight-bold">{{ value.q2 }}</td>
                        <td>{{ value.jul }}</td>
                        <td>{{ value.aug }}</td>
                        <td>{{ value.sep }}</td>
                        <td class="font-weight-bold">{{ value.q3 }}</td>
                        <td>{{ value.oct }}</td>
                        <td>{{ value.nov }}</td>
                        <td>{{ value.dec }}</td>
                        <td class="font-weight-bold">{{ value.q4 }}</td>
                        <td class="font-weight-bold">{{ value.q1|add:value.q2|add:value.q3|add:value.q4 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th class="font-weight-bold">Total:</th>
                        <th class="font-weight-bold">{{ jan_total }}</th>
                        <th class="font-weight-bold">{{ feb_total }}</th>
                        <th class="font-weight-bold">{{ mar_total }}</th>
                        <th class="font-weight-bold">{{ q1_total }}</th>
                        <th class="font-weight-bold">{{ apr_total }}</th>
                        <th class="font-weight-bold">{{ may_total }}</th>
                        <th class="font-weight-bold">{{ jun_total }}</th>
                        <th class="font-weight-bold">{{ q2_total }}</th>
                        <th class="font-weight-bold">{{ jul_total }}</th>
                        <th class="font-weight-bold">{{ aug_total }}</th>
                        <th class="font-weight-bold">{{ sep_total }}</th>
                        <th class="font-weight-bold">{{ q3_total }}</th>
                        <th class="font-weight-bold">{{ oct_total }}</th>
                        <th class="font-weight-bold">{{ nov_total }}</th>
                        <th class="font-weight-bold">{{ dec_total }}</th>
                        <th class="font-weight-bold">{{ q4_total }}</th>
                        <th class="font-weight-bold">{{ budget_total }}</th>
                    </tr>
                </tfoot>
            </table>
            {% else %}
            <table id="table" class="table table-hover table-bordered table-sm my-5 mx-auto text-left" cellspacing=0 width="100%">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">{{ first_col|capfirst }}</th>
                            {% if second_col %}
                            <th scope="col">{{ second_col|capfirst }}</th>
                            {% endif %}
                            <th scope="col">Jan</th>
                            <th scope="col">Feb</th>
                            <th scope="col">Mar</th>
                            <th scope="col">Q1</th>
                            <th scope="col">Apr</th>
                            <th scope="col">May</th>
                            <th scope="col">Jun</th>
                            <th scope="col">Q2</th>
                            <th scope="col">Jul</th>
                            <th scope="col">Aug</th>
                            <th scope="col">Sep</th>
                            <th scope="col">Q3</th>
                            <th scope="col">Oct</th>
                            <th scope="col">Nov</th>
                            <th scope="col">Dec</th>
                            <th scope="col">Q4</th>
                            <th scope="col">Total</th>    
                        </tr>
                    </thead>
                    <tbody>
                        {% for budget in budget_objects %}
                        <tr>
                            <td title="{{ budget.customer }}">{{ budget.customer|truncatechars:15 }}</td>
                            <td title="{{ budget.customer.sector }}">{{ budget.customer.sector|truncatechars:10 }}</td>
                            <td>{{ budget.jan }}</td>
                            <td>{{ budget.feb }}</td>
                            <td>{{ budget.mar }}</td>
                            <td class="font-weight-bold">{{ budget.q1 }}</td>
                            <td>{{ budget.apr }}</td>
                            <td>{{ budget.may }}</td>
                            <td>{{ budget.jun }}</td>
                            <td class="font-weight-bold">{{ budget.q2 }}</td>
                            <td>{{ budget.jul }}</td>
                            <td>{{ budget.aug }}</td>
                            <td>{{ budget.sep }}</td>
                            <td class="font-weight-bold">{{ budget.q3 }}</td>
                            <td>{{ budget.oct }}</td>
                            <td>{{ budget.nov }}</td>
                            <td>{{ budget.dec }}</td>
                            <td class="font-weight-bold">{{ budget.q4 }}</td>
                            <td class="font-weight-bold">{{ budget.q1|add:budget.q2|add:budget.q3|add:budget.q4 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2" class="font-weight-bold">Total:</th>
                            <th class="font-weight-bold">{{ jan_total }}</th>
                            <th class="font-weight-bold">{{ feb_total }}</th>
                            <th class="font-weight-bold">{{ mar_total }}</th>
                            <th class="font-weight-bold">{{ q1_total }}</th>
                            <th class="font-weight-bold">{{ apr_total }}</th>
                            <th class="font-weight-bold">{{ may_total }}</th>
                            <th class="font-weight-bold">{{ jun_total }}</th>
                            <th class="font-weight-bold">{{ q2_total }}</th>
                            <th class="font-weight-bold">{{ jul_total }}</th>
                            <th class="font-weight-bold">{{ aug_total }}</th>
                            <th class="font-weight-bold">{{ sep_total }}</th>
                            <th class="font-weight-bold">{{ q3_total }}</th>
                            <th class="font-weight-bold">{{ oct_total }}</th>
                            <th class="font-weight-bold">{{ nov_total }}</th>
                            <th class="font-weight-bold">{{ dec_total }}</th>
                            <th class="font-weight-bold">{{ q4_total }}</th>
                            <th class="font-weight-bold">{{ budget_total }}</th>
                        </tr>
                    </tfoot>
                </table>
            {% endif %}
        </div>
        <!-- jQuery -->
        <script type="text/javascript" src="{% static 'Ledger/js/jquery-3.4.1.min.js' %}"></script>
        <!-- Bootstrap -->
        <script type="text/javascript" src="{% static 'Ledger/js/bootstrap.min.js' %}"></script>
        <!-- MDB Datatables -->
        <script type="text/javascript" src="{% static 'Ledger/js/addons/datatables.min.js' %}"></script>
        <!-- Datatables buttons -->
        <script type="text/javascript" src="{% static 'Ledger/js/addons/dataTables.buttons.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'Ledger/js/addons/buttons.bootstrap4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'Ledger/js/addons/buttons.html5.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'Ledger/js/addons/buttons.print.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'Ledger/js/addons/buttons.flash.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'Ledger/js/addons/jszip.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'Ledger/js/addons/pdfmake.min.js' %}"></script>
        <script type="text/html" src="{% static 'Ledger/js/addons/vfs_fonts.js' %}"></script>

        <script>
            $(document).ready(function () {
                $('#table').DataTable({
                    "pageLength": 10,
                    "dom": "fltBpi",
                    "buttons": [
                        'copy',
                        'excel',
                        'pdf',
                        'print'
                    ]
                });
                $('.dataTables_length').addClass('bs-select inline float-left mb-3');
                $('.dataTables_filter').addClass('bs-select inline float-right');
                $('.btn').removeClass('btn-secondary');                
                $('.btn').addClass('mx-1 btn-primary');
            });
            
        </script>
    {% endblock %}