{% extends 'Ledger/base.html' %} {% load static %}{% load humanize %}

    {% block body%}

        <h3 class="mt-5 mx-auto text-center">View sales by location</h3>
        {% if locations %}
            <div class="container mt-5">
                <div class="row">
                {% for location in locations %}
                <div class="col-lg-3 col-sm-6 col-xs-12">
                        <a href="{% url 'sale_by_location' location.slug %}" style="text-decoration: none;"><button type="button" class="list-group-item list-group-item-action my-1">{{ location }}</button></a>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">
                {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p class="mt-5 mx-auto text-center">No sales records are available.</p>
        {% endif %}

        <h3 class="mt-5 mx-auto text-center"> View sales by customer</h3>
        {% if customers %}
        <div class="container my-5">
                <div class="row">
                {% for customer in customers %}
                <div class="col-lg-3 col-sm-6 col-xs-12">
                        <a href="{% url 'sale_by_customer' customer.slug %}" style="text-decoration: none;"><button type="button" class="list-group-item list-group-item-action my-1">{{ customer }}</button></a>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">
                {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p class="mt-5 mx-auto text-center">No sales records are available.</p>
        {% endif %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="{% static 'Ledger/bootstrap.bundle.js' %}"></script>
    {% endblock %}
</html>