{% extends 'Ledger/base.html' %} {% load static %}

{% block customstyle %}
<!-- MDB Datatables -->
<link rel="stylesheet" href="{% static 'Ledger/css/addons/datatables.min.css' %}">
<style>
    tr[data-href] {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block body %}
<div class="container mt-5 mx-auto text-center">
    <h3>Select customer</h3>
    {% if customers %}
    <table id="table" class="table table-hover table-borderless" cellspacing="0" width="50%">
        <thead class="thead-light">
            <tr>
                <th style="display: none;"></th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            
                <tr data-href="{% url redirect customer.slug %}">
                    <td>{{ customer }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}}

<!-- jQuery -->
<script type="text/javascript" src="{% static 'Ledger/js/jquery-3.4.1.min.js' %}"></script>
<!-- Popper -->
<script type="text/javascript" src="{% static 'Ledger/js/popper.min.js' %}"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="{% static 'Ledger/js/bootstrap.min.js' %}"></script>
<!-- MDB Datatables -->
<script type="text/javascript" src="{% static 'Ledger/js/addons/datatables.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table').DataTable({
            "paging": false,
            "scrollY": "400px",
            "scrollCollapse": true,
            "bInfo": false,
            scrollX: true,
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");
        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
    });
</script>
{% endblock %}