{% extends 'Ledger/base.html' %} {% load static %}

{% block customstyle %}
<!-- MDB Datatables -->
<link rel="stylesheet" href="{% static 'Ledger/css/addons/datatables.min.css' %}">
<style>
    tr[data-href] {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block body %}
    <div class="container my-5 mx-auto text-center">
        <h3>Select plant location</h3>
        {% if locations %}
        <table id="table" class="table table-hover table-borderless" cellspacing="0" width="50%">
            <thead class="thead-light">
                <tr>
                    <th style="display: none;"></th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                
                    <tr data-href="{% url redirect location.slug %}">
                        <td>{{ location }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h6 class="mt-5">No data could be loaded!</h6>
        {% endif %}
        {% comment %}
        <div class="list-group mx-auto mt-5" style="width: 20em;">
            {% for location in locations %}
                <a href="{% url redirect location.slug %}" style="text-decoration: none;"><button type="button" class="list-group-item list-group-item-action my-1">{{ location }}</button></a>
            {% endfor %}
        {% else %}
        <h6 class="mt-5">No data could be loaded!</h6>
        {% endif %}

        </div>
        {% endcomment %}
    </div>

<!-- jQuery -->
<script type="text/javascript" src="{% static 'Ledger/js/jquery-3.4.1.min.js' %}"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="{% static 'Ledger/js/bootstrap.min.js' %}"></script>
<!-- MDB Datatables -->
<script type="text/javascript" src="{% static 'Ledger/js/addons/datatables.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table').DataTable({
            "paging": false,
            "scrollCollapse": true,
            "bInfo": false,
            scrollX: true,
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");
        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
    });
</script>
{% endblock %}