{% extends 'Ledger/base.html' %} {% load static %}

{% block body %}
<div class="container my-5">
    <div class="jumbotron text-center">
        <h2 class="display-3" style="font-family: 'Montserrat'; letter-spacing: -3px;">Ledger</h2>
        <p class="lead">Budget management made simple.</p>
        <hr class="my-4">
    </div>
</div>

        <!-- jQuery -->
        <script type="text/javascript" src="{% static 'Ledger/js/jquery-3.4.1.min.js' %}"></script>
        <!-- Bootstrap -->
        <script type="text/javascript" src="{% static 'Ledger/js/bootstrap.min.js' %}"></script>
{% endblock %}