{% extends 'Ledger/base.html' %} {% load static %}

{% block body %}
<div class="container my-5">
    <div class="jumbotron text-center">
        <h2 class="display-3" style="font-family: 'Montserrat'; letter-spacing: -3px;">Ledger</h2>
        <p class="lead mb-4">Budget management made simple.</p>
        <button type="button" class="btn text-white" onclick="openNavTo('Actuals')" style="background-color: #394047"><i class="fas fa-money-check-alt pr-2 text-white" aria-hidden="true"></i>Actuals</button>
        <button type="button" class="btn text-white" onclick="openNavTo('Budgets')" style="background-color: #394047"><i class="fas fa-balance-scale pr-2" aria-hidden="true"></i>Budgets</button>
        <button type="button" class="btn text-white" onclick="openNavTo('Vs')" style="background-color: #394047"><i class="fas fa-check-double pr-2" aria-hidden="true"></i>Actuals vs Budgets</button>
        <button type="button" class="btn text-white" onclick="openNavTo('Admin')" style="background-color: #394047"><i class="fas fa-user-shield pr-2" aria-hidden="true"></i>Administration</button>
    </div>
</div>

        <!-- jQuery -->
        <script type="text/javascript" src="{% static 'Ledger/js/jquery-3.4.1.min.js' %}"></script>
        <!-- Bootstrap -->
        <script type="text/javascript" src="{% static 'Ledger/js/bootstrap.min.js' %}"></script>
{% endblock %}