{% extends 'Ledger/base.html' %} {% load static %}

{% block customstyle %}
<style type="text/css">
    .dropdown-item {
        font-weight: 300;
    }
</style>
{% endblock %}

{% block body %}
    <div class="container mx-auto text-center">
        <h1 class="mx-auto mt-5 logo">Ledger</h1>
        <h5 class="mx-auto mt-1 mb-4">Budget management made simple.</h5>
        <div class="btn-group mx-2">
            <button id="indexSale" class="mx-auto mb-1 btn btn-mdb-color btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actuals</button>
            <div class="dropdown-menu" aria-labelledby="indexSale">
                <a href="{% url 'cl_sale_plant_customer' %}" class="dropdown-item">Sales by Plant by Customer</a>
                <a href="{% url 'cl_sale_plant_sector' %}" class="dropdown-item">Sales by Plant by Sector</a>
                <a href="{% url 'cl_sale_region_plant' %}" class="dropdown-item">Sales by Region by Plant</a>
                <a href="{% url 'cl_sale_region_customer' %}" class="dropdown-item">Sales by Region by Customer</a>
                <a href="{% url 'cl_sale_region_sector' %}" class="dropdown-item">Sales by Region by Sector</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'cy_sale_global_plant' %}" class="dropdown-item">Global sales by Plant</a>
                <a href="{% url 'cy_sale_global_customer' %}" class="dropdown-item">Global sales by Customer</a>
                <a href="{% url 'cy_sale_global_sector' %}" class="dropdown-item">Global sales by Sector</a>
                <a href="{% url 'cy_sale_global_region' %}" class="dropdown-item">Global sales by Region</a>
            </div>
        </div>
        <div class="btn-group mx-2">
            <button id="indexBudget" class="mx-auto mb-1 btn btn-mdb-color btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Budgets</button>
            <div class="dropdown-menu" aria-labelledby="indexBudget">
                <a href="{% url 'cl_budget_plant_customer' %}" class="dropdown-item">Sales by Plant by Customer</a>
                <a href="{% url 'cl_budget_plant_sector' %}" class="dropdown-item">Sales by Plant by Sector</a>
                <a href="{% url 'cl_budget_region_plant' %}" class="dropdown-item">Sales by Region by Plant</a>
                <a href="{% url 'cl_budget_region_customer' %}" class="dropdown-item">Sales by Region by Customer</a>
                <a href="{% url 'cl_budget_region_sector' %}" class="dropdown-item">Sales by Region by Sector</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'cy_budget_global_plant' %}" class="dropdown-item">Global sales by Plant</a>
                <a href="{% url 'cy_budget_global_customer' %}" class="dropdown-item">Global sales by Customer</a>
                <a href="{% url 'cy_budget_global_sector' %}" class="dropdown-item">Global sales by Sector</a>
                <a href="{% url 'cy_budget_global_region' %}" class="dropdown-item">Global sales by Region</a>
            </div>
        </div>
    </div>
    


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}